/**
 * Colour scheme
 * #002a35
 * #073642
 * #268bd2
 * #2aa198
 * #586e75
 * #839496
 * #859900
 * #93a1a1
 * #cb4b16
 * #dc322f
 */

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
div, p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  font-weight: 300;
  color: #839496;
  background-color: #002a35;
  -webkit-text-size-adjust: 100%;
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Headings
 */
h1 {
  font-weight: 1000;
  font-size: 20vw;
  line-height: 80%;
}

h4 {
  font-size: 5vw;
  line-height: 80%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1, h2, h3 {
  color: #cb4b16;
}

/**
 * Links
 */
a, a:visited, a:active {
  color: #2aa198;
  text-decoration: none;
}

a:hover {
  color: #cb4b16;
}

/**
 * Site header
 */
.site-header {
  min-height: 100vh;
  font-family: 'Staatliches', cursive;
  overflow: hidden;
}

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
